<phpunit bootstrap="test/bootstrap.php"
         colors="true"
         convertNoticesToExceptions="false"
         convertErrorsToExceptions="false"
         convertWarningsToExceptions="false">

    <testsuites>
        <testsuite name="php-rest-service">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
</phpunit>
